.profilePic1 {
  position: relative;
  width: 220px;
  height: 220px;
  overflow: hidden;
}

.profilePic1 img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.profilePic2 {
  position: relative;
  width: 220px;
  height: 220px;
  overflow: hidden;
}

.profilePic2 img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.profileinput {
  display: inline-block;
}

.jumbotron {
  margin-top: 5px;
}