<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>MateX</title>

    <link rel="stylesheet" type="text/css" href="/css/frontend.css">

    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  </head>

  <body>
    <div class="container">

      <div class="page-top">
      	<div class="row">
        	<div class="col-md-12 text-center">
          	<h1>MateX</h1>
        	</div>
      	</div>

      	<ul class="nav nav-tabs nav-justified" style="margin-top: 2px">
        	<li role="presentation" class="active"><a href="#">Kezdőlap</a></li>
        	<li role="presentation"><a href="/">Profilom</a></li>
        	<li role="presentation" class="disabled"><a href="#">Üzenetek</a></li>
        	<li role="presentation" class="disabled"><a href="#">Feladatok</a></li>
        	<li role="presentation" class="disabled"><a href="#">A MateXról</a></li>
      	</ul>
      </div>

      <div class="jumbotron">
      	<h2>Köszöntelek a MateX honlapján!</h2>
      	<p>A MateX a hétvégi matektáborok internetes rendszere. Elsődleges célja az, hogy a táborvezetők egy helyen lássák a táborozók adatait. A rendszer jelenleg fejlesztés alatt áll.</p>
      </div>

      <div class="col-md-6">
        <h2>Profil</h2>
        <p>Megváltozott az egyik megadott adatod? Újra cserélnéd a profilképed? Látogass el a Profilom oldalra!</p>
        <p><a class="btn btn-primary" href="frontend_cdn.html" role="button">Profilom  &raquo;</a></p>
      </div>

      <div class="col-md-6">
        <h2>Üzenetek</h2>
        <p>Az üzenetírás funkció fejlesztés alatt áll, de sajnos nem biztos, hogy egyáltalán lesz ilyen.</p>
        <p><a class="btn btn-primary disabled" href="#" role="button">Üzenetek &raquo;</a></p>
      </div>

      <div class="col-md-6">
        <h2>Feladatok</h2>
        <p>A feladat-feltöltés funkció fejlesztés alatt áll. Valószínűleg lesz ilyen.</p>
        <p><a class="btn btn-primary disabled" href="#" role="button">Feladatok &raquo;</a></p>
      </div>

      <div class="col-md-6">
        <h2>A MateXról</h2>
        <p>Kíváncsi vagy a MateX működésére, céljára, történetére? Ha igen, látogass el A MateXról menüpontra! A cikk hamarosan elérhető lesz.</p>
        <p><a class="btn btn-primary disabled" href="#" role="button">A MateXról &raquo;</a></p>
      </div>
      
    <div> <!-- container -->

    <!-- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>